* {
  background: lightslategray;
}

body{
  font-family: 'Roboto', sans-serif;
}

textarea {
  border: 1px solid black;
  background: whitesmoke;
}

button {
  background: white;
  font-size: 18px;
  margin: 8px 0;
}
